@model Category

<form method="post" asp-action="Edit">

    <h2>Kategori Güncelle</h2>
    <div class="row">
        <label asp-for ="Name"></label>
        <input asp-for ="Name" class="form-control" />
    </div>
    <div class="row my-2">
        <div class="col-6"><button type="submit" class="btn btn-primary" >
            Save
        </button></div>
        <div class="col-6"><a asp-controller="Category" asp-action="Index" class="btn btn-primary">Back To Main </a></div>        
        
    </div>
</form>