@model IEnumerable<OrderProduct>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Order List</h2>
        </div>
        <div class="col-6">
          
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped my-2">
            <thead>
                <tr>
                    <th width="10px">                        
                        Order Id
                    </th>
                    <th>
                        Full Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderProduct in Model)
                {
                    <tr>
                        <td>@orderProduct.Id</td>
                        <td>@orderProduct.Name</td>
                        <td>@orderProduct.OrderPrice</td>
                        <td>     
                            <a onclick="return confirm('Silmek istediğinize emin misiniz?');" asp-area="Customer" asp-controller="Order" asp-action="CancelOrder" asp-route-id="@orderProduct.Id" class="btn btn-danger">
                                Cancel
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>